<div class='d-none d-lg-flex d-flex flex-row'>
  <ul class='navbar-nav align-items-center'>
    <li class='nav-item mx-lg-1'>
      <a class='nav-link active' href='/#home'>Home</a>
    </li>
    <li class='nav-item mx-lg-1'>
      <a class='nav-link' href='/#projects'>Projects</a>
    </li>
    <li class='nav-item mx-lg-1'>
      <a class='nav-link' href='/about-me#values'>Values</a>
    </li>
    <li class='nav-item mx-lg-1'>
      <a class='nav-link' href='/about-me#intro'>About</a>
    </li>
    <li class='nav-item mx-lg-1'>
      <a class='nav-link' href='/about-me#socials'>Socials</a>
    </li>
    <li class='nav-item mx-lg-1'>
      <a class='nav-link' href='#hire-me'>Contact</a>
    </li>
    <li class='nav-item mx-lg-1'>
      <a
        class='btn btn-primary rounded-pill'
        role='button'
        href='/doc/Sathyanarayanan_Vaithianathan_CV.pdf'
        download='Sathyanarayanan Vaithianathan.pdf'
      >Resume</a>
    </li>
  </ul>
</div>
