<a class='navbar-brand font-weight-bold d-flex align-items-center' href='#'>
  <img
    src='https://dummyimage.com/600x400/dfc153/000000&text=SV'
    alt=''
    width='80'
    height='80'
    class='d-inline-block align-text-top'
  />

</a>
<span class='d-lg-none p-3 d-sm-block d-md-block'>Sathyanarayanan Vaithianathan</span>