<div class='d-none d-lg-flex d-flex flex-row justify-content-between'>
  <ul class='navbar-nav me-auto align-items-center'>
    <li class='nav-item mx-lg-1'>
      <a class='nav-link active' href='home'>Home</a>
    </li>
    <li class='nav-item mx-lg-1'>
      <a class='nav-link' href='services'>Services</a>
    </li>
    <li class='nav-item mx-lg-1'>
      <a class='nav-link' href='hire-us'>Hire Us</a>
    </li>
    <li class='nav-item mx-lg-1'>
      <a class='nav-link' href='about-us'>About Us</a>
    </li>
  </ul>
</div>