<div class='d-none d-lg-flex d-flex flex-row w-100 justify-content-between'>
  <ul class='navbar-nav me-auto align-items-center'>
    <li class='nav-item mx-lg-1'>
      <a class='nav-link active' href='#home'>Home</a>
    </li>
    <li class='nav-item mx-lg-1'>
      <a class='nav-link' href='#projects'>Projects</a>
    </li>
    <li class='nav-item mx-lg-1'>
      <a class='nav-link' href='#hire-me'>Hire Me</a>
    </li>
    <!--<li class='nav-item mx-lg-1'>
      <a class='nav-link' href='about-us'>About Us</a>
    </li>-->
  </ul>
</div>
<!-- DUMMY SPACER -->
<div class='w-100 d-sm-none d-md-none d-none d-lg-block d-xl-block'></div>
<!-- DUMMY SPACER ENDS -->

<!-- CART ICON -->
<!--<div
  class='d-flex justify-content-between d-sm-none d-md-none d-none d-lg-block d-xl-block'
>
  <div>
    <button type='button' class='btn bg-white position-relative'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='23'
        height='23'
        fill='currentColor'
        class='bi bi-cart text-secondary'
        viewBox='0 0 16 16'
      >
        <path
          d='M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z'
        ></path>
      </svg>
      <span
        class='position-absolute top-0 start-100 translate-middle badge rounded-pill bg-pink'
      >
        0
        <span class='visually-hidden'>unread messages</span>
      </span>
    </button>
  </div>
</div>-->
<!-- CART ICON ENDS-->