<div class='d-none d-lg-flex d-flex flex-row'>
  <ul class='navbar-nav align-items-center'>
    <li class='nav-item mx-lg-1'>
      <a class='nav-link active' href='/#home'>Home</a>
    </li>
    <li class='nav-item mx-lg-1'>
      <a class='nav-link' href='/#projects'>Projects</a>
    </li>
    <li class='nav-item mx-lg-1'>
      <a class='nav-link' href='/about-me#values'>My Values</a>
    </li>
    <li class='nav-item mx-lg-1'>
      <a class='nav-link' href='/about-me#intro'>About Me</a>
    </li>
    <li class='nav-item mx-lg-1'>
      <a class='nav-link' href='/about-me#socials'>Social Networks</a>
    </li>
    <li class='nav-item mx-lg-1'>
      <a class='nav-link' href='#hire-me'>Contact Me</a>
    </li>
    <li class='nav-item mx-lg-1'>
      <a
        class='btn btn-primary rounded-pill'
        role='button'
        href='/doc/CSCI_SVaithianathan_05_2023.pdf'
        download='Sathyanarayanan Vaithianathan.pdf'
      >Download Resume</a>
    </li>
  </ul>
</div>