<div
  class='offcanvas offcanvas-start'
  tabindex='-1'
  id='navbarSupportedContent'
  aria-labelledby='navbar-label'
>
  <div class='offcanvas-header navbar-linear-gradient'>
    <a class='navbar-brand font-weight-bold d-flex align-items-center' href='#'>
      <img
        src='https://dummyimage.com/600x400/dfc153/000000&text=SV'
        alt=''
        width='40'
        height='40'
        class='d-inline-block align-text-top'
      />
      <span class='p-2'>S Vaithianathan</span>
    </a>
    <button
      type='button'
      class='btn-close text-reset text-dark'
      data-bs-dismiss='offcanvas'
      aria-label='Close'
      data-bs-scroll='true'
    ></button>
  </div>
  <div class='offcanvas-body p-2 d-lg-none'>
    <div class='d-grid gap-2'>
      <a href='/#home' class='btn active text-start'> Home </a>
      <a href='/#projects' class='btn text-start'>Projects</a>
      <a href='/about-me#values' class='btn text-start'>My Values</a>
      <a href='/about-me#intro' class='btn text-start'>About Me</a>
      <a href='/about-me#socials' class='btn text-start'>Social Networks</a>
      <a href='#hire-me' class='btn text-start'>Contact Me</a>

    </div>
  </div>
</div>