<div
  class='offcanvas offcanvas-start'
  tabindex='-1'
  id='navbarSupportedContent'
  aria-labelledby='navbar-label'
>
  <div class='offcanvas-header navbar-linear-gradient'>
    <a class='navbar-brand font-weight-bold d-flex align-items-center' href='#'>
      <img
        src='https://lotusdecoreandrental.com/logo.png'
        alt=''
        width='60'
        height='60'
        class='d-inline-block align-text-top'
      />
      <span class='p-2'>Lotus Traders</span>
    </a>
    <button
      type='button'
      class='btn-close text-reset text-dark'
      data-bs-dismiss='offcanvas'
      aria-label='Close'
      data-bs-scroll='true'
    ></button>
  </div>
  <div class='offcanvas-body p-2 d-lg-none'>
    <div class='d-grid gap-2'>
      <a href='home' class='btn active text-start'> Home </a>
      <a href='services' class='btn text-start'>Services</a>
      <a href='hire-us' class='btn text-start'>Hire Us</a>
      <a href='about-us' class='btn text-start'>About Us</a>
    </div>
    <form class='d-flex mb-0 p-2'>
      <input
        class='form-control me-2'
        type='search'
        placeholder='Search'
        aria-label='Search'
      />
      <button class='btn btn-outline-success btn-light' type='submit'>
        Search
      </button>
    </form>
  </div>
</div>