<div class='col-lg-4 col-sm-12 col-md-12 col-xl-4 p-lg-2 p-xl-2 my-2'>
  <div class='card h-100'>
    <img src={{img}}  class="img-fluid rounded" alt='...' style="max-height: 300px! important;" />
    <div class='card-body'>
      <h5 class='card-title fw-bold'>{{title}}</h5>
      <p class='card-text'>
        {{{description}}}
      </p>
      <div class='d-flex justify-content-between'>
        <a class="btn rounded-pill {{#if social}} btn-warning{{/if}} {{#if lotus}} btn-pink{{/if}} {{#if amplifyc}} btn-primary {{/if}}" role='button' href={{link}} target='_blank'>
          <span>View Project</span>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='23'
            height='23'
            fill='currentColor'
            class='bi bi-arrow-right-circle-fill text-white mx-1 mb-1'
            viewBox='0 0 16 16'
          >
            <path
              d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z'
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>