<section id='not-found' class='pt-5 pt-3'>
  <div class='container'>
    <div class='row'>
      <div class='col-12 d-flex align-items-center'>
        <div class='card mx-auto'>
          <img
            src='/img/404.jpg'
            class='img-fluid shadow rounded w-25 h-25'
            alt='...'
          />
          <div class='card-body'>
            <p class='card-text'>
              <a class='btn rounded-pill btn-primary' href='/home'>
                <span>Go to Homepage</span>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='23'
                  height='23'
                  fill='currentColor'
                  class='bi bi-arrow-right-circle-fill text-white mx-1 mb-1'
                  viewBox='0 0 16 16'
                >
                  <path
                    d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z'
                  ></path>
                </svg>
              </a>
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>