<section id='socials' class='pt-5 pt-3'>
<div class='container'>
    <h2 class='text-center my-2'>Social Networks</h2>

    <div class='row'>
        {{#each socials}}
        {{> aboutme/socialmedia socials=socials }}
        {{/each}}
    </div>
</div>
</section>