<section id='intro' class='pt-5 pt-3'>
  <div class='container'>
    <div class='row align-items-center'>
      <div class='col-md-5'>
        <div class='mt-md-4'>
          <div>
            <span class='badge bg-pink rounded-pill'>New</span>
            <span class='ms-1'>Welcome to my personal website</span>
          </div>
          <h2 class='fw-normal mb-4 mt-3 hero-title'>
            I'm Sathyanarayanan Vaithianathan
            <br />
          </h2>

          <p class='mb-4 font-16' style='text-align:justify'>
            Master's student at
            <a
              href='https://www.csuchico.edu'
              target='_blank'
              class='link-success'
            >CSU Chico</a>
            expected to graduate in May - 2023 with
            <strong> Computer Science</strong>

            major. I'm also an experienced software developer having hands-on
            with multiple technologies such as
            <strong>Vue.JS, Node.JS, Nest.JS and Docker Containers.</strong>
            <br /><br />Do you wonder what languages am proficient at?
            <br />
            I'm proficient in
            <strong>C++ and Javascript.</strong>
          </p>

          <a href='#values' class='btn btn-pink'>What are my values?
          </a>
        </div>
      </div>
      <div class='col-md-5 offset-md-2'>
        <div
          class='text-md-end mt-3 mt-md-0 p-lg-5 p-xl-5 p-md-0 p-sm-0 ng-transparent'
        >
          <img
            src='https://avatars.githubusercontent.com/u/36219956?s=400&u=bc38fb15511d393ff24c9fe70935527c7104f0f6&v=4'
            alt=''
            class='img-fluid shadow rounded-pill p-2'
            width='100%'
          />
        </div>
      </div>
    </div>
  </div>
</section>