<section id='hero-section' class='pt-5 pt-3'>
  <div class='container'>
    <div class='row align-items-center'>
      <div class='col-md-5'>
        <div class='mt-md-4'>
          <div>
            <span class='badge bg-gold rounded-pill'>New</span>
            <span class='ms-1'>Welcome to our new product</span>
          </div>
          <h2 class='fw-normal mb-4 mt-3 hero-title'>
            Do you want to run an event
            <br />
            at very low price?
          </h2>

          <p class='mb-4 font-16'>Have you ever wondered how to start an event
            in your next location or where to rent a service? Our team is here
            to help. A variety of services are available at all locations. Just
            ask! Let us know the details of the event, and we'll take care of
            the rest.</p>

          <a href='#preview' class='btn btn-gold'>Preview
            <i class='mdi mdi-arrow-right ms-1'></i></a>
        </div>
      </div>
      <div class='col-md-5 offset-md-2'>
        <div class='text-md-end mt-3 mt-md-0'>
          <img
            src='https://lotusdecoreandrental.com/_ipx/w_1920,q_75/%2Frental.png?url=%2Frental.png&w=1920&q=75'
            alt=''
            class='img-fluid'
          />
        </div>
      </div>
    </div>
  </div>
</section>