<div
  class='col-sm-12 col-md-12 col-lg-6 p-lg-5 p-xl-5 align-items-center d-flex my-3'
>
  <div class='d-flex flex-column gap-3'>
    <svg
      xmlns='http://www.w3.org/2000/svg'
      viewBox='0 0 20 20'
      fill='currentColor'
      aria-hidden='true'
      width='50'
      height='50'
      class='rounded-circle bg-gold p-2 mb-2'
    >
      <path
        d='M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z'
      ></path>
    </svg>
    <h2 class='text-center'>Let me handle your next destination</h2>
    <p class='text-center'>
      Have you ever wondered how to start a business online? I am here to help.
      I have created a variety of web applications and web sites which involved
      complex use cases. Just ask! Let me know the details of the business, and
      I'll take care of the rest.
    </p>
    <a
      href='#projects'
      class='btn btn-gold w-lg-25 w-xl-25 w-sm-100 w-md-100 mx-auto'
    >View my projects</a>
  </div>
</div>