<div
  class='col-sm-12 col-md-12 col-lg-6 p-lg-5 p-xl-5 align-items-center d-flex'
>
  <div class='d-flex flex-column gap-3'>
    <svg
      xmlns='http://www.w3.org/2000/svg'
      viewBox='0 0 20 20'
      fill='currentColor'
      aria-hidden='true'
      width='50'
      height='50'
      class='rounded-circle bg-gold p-2 mb-2'
    >
      <path
        d='M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z'
      ></path>
    </svg>
    <h2 class='text-center'>Let us handle your next destination</h2>
    <p class='text-center'>
      Have you ever wondered how to start an event in your next location or
      where to rent a service? Our team is here to help. A variety of services
      are available at all locations. Just ask! Let us know the details of the
      event, and we'll take care of the rest.
    </p>
    <button class='btn btn-gold w-25 mx-auto'>Hire us</button>
  </div>
</div>