<section id='preview' class='py-5'>
  <div class='container'>
    <div class='row'>
      <!-- BELL ICON COMPONENT -->
    {{> home/sample_work/bell_icon_component}}
      <!-- BELL ICON COMPONENT ENDS -->

      <!-- SAMPLE WORKS COMPONENT -->
      {{> home/sample_work/samples}}
      <!-- SAMPLE WORKS COMPONENT ENDS -->
    </div>
  </div>
</section>