<div
  class='col-sm-12 col-md-12 col-lg-6 p-lg-2 m-md-0 m-lg-0 m-2 d-lg-block d-xl-block'
>
  <div class='row align-items-center'>
    <div
      class='col-lg-6 col-xl-6 col-md-12 col-sm-12 d-flex flex-lg-column flex-xl-column justify-content-sm-center justify-content-lg-end justify-content-md-center align-items-lg-end bg-transparent'
    >
      <img
        width='176'
        height='224'
        src='https://images.pexels.com/photos/1035665/pexels-photo-1035665.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260'
        alt=''
        class='shadow my-lg-4 my-xl-4 bg-transparent rounded m-3 m-lg-0 m-xl-0'
      />
      <img
        width='160'
        height='160'
        src='https://images.pexels.com/photos/6154988/pexels-photo-6154988.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'
        alt=''
        class='shadow-lg m-lg-0 m-xl-0 bg-transparent rounded m-3 m-lg-0 m-xl-0'
      />
    </div>
    <div
      class='col-lg-6 col-xl-6 col-md-12 col-sm-12 d-flex align-content-md-center align-content-sm-center justify-content-sm-center justify-content-lg-start justify-content-md-center my-4'
    >
      <img
        src='https://images.pexels.com/photos/698907/pexels-photo-698907.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500'
        alt=''
        class='shadow-lg pl-md-5 pl-sm-5 px-lg-0 px-xl-0 bg-transparent rounded m-3 m-lg-0 m-xl-0'
        height='320'
        width='60%'
      />
    </div>
  </div>
</div>