<div
  class='col-sm-12 col-md-12 col-lg-6 p-lg-2 m-md-0 m-lg-0 m-2 d-lg-block d-xl-block'
>
  <img
    src='/img/hireme.jpg'
    alt=''
    class='rounded shadow'
    height='429px'
    width='644px'
  />
</div>